
  <div class="jumbotron jumbotron-fluid">
    <div class="container">

        <form class="formulario" (submit)="cadastrar()">
    
            <div>
                <input 
                    class="form-control" 
                    type="text" 
                    placeholder="Nome participante"
                    [value]="dados.nomeParticipante">
            </div>

            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="checkbox" 
                    (input)="dados.churrasco = !dados.churrasco"
                    [value]="dados.churrasco"
                    [checked]="dados.churrasco"
                    id="churrasco">
                <label class="form-check-label" for="churrasco">
                    Churrasco
                </label>
            </div>

            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="checkbox" 
                    id="bebida" 
                    (input)="dados.bebida = !dados.bebida"
                    [value]="dados.bebida"
                    [checked]="dados.bebida">
                <label class="form-check-label" for="bebida">
                    Bebida
                </label>
            </div>

            <div class="custom-control custom-switch">
                <input 
                    type="checkbox" 
                    class="custom-control-input" 
                    id="customSwitches"
                    (input)="dados.possuiConvidado = !dados.possuiConvidado"
                    [value]="dados.possuiConvidado"
                    [checked]="dados.possuiConvidado">
                <label class="custom-control-label" for="customSwitches">Possui convidado</label>
            </div>
    
    
            <div *ngIf="dados.possuiConvidado">
                <div>
                    <input 
                        class="form-control" 
                        type="text" 
                        placeholder="Nome convidado"
                        [value]="dados.convidado.nome">
                </div>
        
                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="checkbox" 
                        (input)="dados.convidado.churrasco = !dados.convidado.churrasco"
                        [value]="dados.convidado.churrasco"
                        [checked]="dados.convidado.churrasco"
                        id="churrascoConvidado">
                    <label class="form-check-label" for="churrascoConvidado">
                        Churrasco
                    </label>
                </div>
                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="checkbox" 
                        (input)="dados.convidado.bebida = !dados.convidado.bebida"
                        [value]="dados.convidado.bebida"
                        [checked]="dados.convidado.bebida"
                        checked
                        id="bebidaConvidado">
                    <label class="form-check-label" for="bebidaConvidado">
                        Bebida
                    </label>
                </div>
            </div>
            
    
            <button type="submit" class="btn btn-primary">
                Cadastrar
            </button>
    
        </form>
    </div>
</div>