<div class="container">
    <form class="formulario">
        <div>
            <label for="nomePaticipante">Participante:</label><br>
            <input type="text" name="Nome" id="nomePaticipante">
        </div>
        <div>
            <label for="churrasco">Churrasco</label>
            <input type="checkbox" name="churrasco" id="churrasco">
            
            <label for="bebida">Bebida</label>
            <input type="checkbox" name="bebida" id="bebida">
        </div>


            <div>
                <input type="radio" name="convidado" id="convidadoRadio">
                <label for="convidadoRadio">Convidado</label>
            </div>
            <div>
                <label for="convidado">Convidado:</label><br>
                <input type="text" name="convidado" id="convidado">

            </div>
            <div>
                <label for="churrasco">Churrasco</label>
                <input type="checkbox" name="churrasco" id="churrasco">
                
                <label for="bebida">Bebida</label>
                <input type="checkbox" name="bebida" id="bebida">
            </div>

            <button type="submit" class="btn btn-primary">
                Cadastrar
            </button>
        
    </form>
</div>  

