<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Churrasco</th>
                <th scope="col">Bebida</th>
                <th scope="col">Convidado</th>
                <th scope="col">Valor pago</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of listaCompleta">
                <th scope="row">
                    {{item.nome}}
                </th>
                <td>
                    {{item.churrasco}}
                </td>
                <td>
                    {{item.bebida}}
                </td>
                <td>
                    {{item.possuiAcompanhante}}
                </td>
                <td>
                    {{item.valor}}
                </td>
                <td>
                    <button class="btn btn-danger">
                        Cancelar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>